<!doctype html>

<html lang="en">

	<% include ../partials/head %>

	<body>

		<div id="app">

			<noscript>
				<h1>JavaScript Required!</h1>
			</noscript>

		</div>

		<script src="<%= resources['vendor.js'] %>"></script>
		<script src="<%= resources['shared.js'] %>"></script>
		<script src="<%= resources['main.js'] %>"></script>
		
	 </body>

 </html>